@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The goal of Resonance Group (RG) is to develop alternative clean energy technologies. We are committed to integrate academics with business, research with open forums, and governments with discovery.  This commitment is the foundation of Resonance Group and it manifests in every idea, advancement, product and relationship.
We are pleased to present RG’s Energy Control System, our flagship product. This system integrates the new RG controller with state-of-the-art pulse motors and power management technologies for improved performance of electric motor-driven devices. The Energy Control System enables improved performance by making more energy available to the motor through efficient utilization of electrical input energy and by accessing stored electromagnetic energy.


Why the name, “Resonance Group” and our beginning
When a second tuning fork of the same (precise) size and pitch, is placed in the vicinity of a “resonating” or vibrating tuning fork, the energy of the resonating tuning fork causes the second tuning fork to vibrate or resonate as well. The propagating effects of a focused, precise and harmonic energy is the model of the principles of life and even of life itself. If our ideas, our behavior, our living are all based upon a universal and precise “resonating energy,” we resonate together – just as the tuning forks.
Resonance Group functions as a product and service development system with the resources to apply marketing, research, sales, manufacturing and distribution resources to any product or service.

</p>
